.rides-container {
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.rides-container h2 {
    text-align: center;
    font-size: 32px;
    color: #555;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
}

.search-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.filters-left {
    display: flex;
    gap: 240px; 
    align-items: center;
    margin-left: 50px;
}

.inline-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inline-group label {
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

.inline-group select {
    padding: 7px 12px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-width: 140px;
}

.days-line {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-left: 100px;
}

.days-line label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.days-checkboxes {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.button-container {
    margin-left: auto; 
}

.find-btn {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 35px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.find-btn:hover {
    background-color: #4285f4;
}

.search-result {
    font-size: 16px;
    margin-bottom: 15px;
    display: none;
}

.rides-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.rides-table th,
.rides-table td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.rides-table th {
    background-color: #e6e6e6;
}

.small-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.rides-table a {
    color: #1a0dab;
}


.map-container {
    width: 100%;
    margin: 16px 0 0; 
}

.map-iframe{
  display: block;
  width: 100%;
  height: 320px;
  border: 0;
}


