.logoText-container {
  display: flex;
  align-items: center; 
  justify-content: center;  
  gap: 10px;  
  margin-bottom: 20px;
  
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 300px;
  text-align: center;
  margin: 70px auto 40px; 
  padding: 20px 30px;       
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.google-btn {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  margin: 0 auto 15px auto;
  width: 100%;
  font-size: 14px;
}

.or {
  margin: 10px 0;
  font-weight: bold;
}

form {
  text-align: left;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: var(--input-padding);
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.register {
  font-size: 14px;
  margin-bottom: 15px;
}

.register a {
  color: var(--primary-color);  
}

.login-btn {
  width: 30%;
  padding: var(--input-padding);
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block; 
  text-align: center;
  text-decoration: none; 
}

.register-container {
  max-width: 1000px;        
  margin: 290px auto 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  min-width: 250px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.signup-btn {
  display: block;
  margin: 30px auto 0;
  padding: 12px 40px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-links {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}


